.container {
    justify-content: center;
    width: 1240px;
    margin: 0 auto;

}


.box {

    width: 816px;
    height: 312px;
    margin: auto;
    /* border: 1px solid black; */
}

.tem {
    text-align: center;

}
.text {
    margin: auto;
    text-align: center;
    width: 500px;
    height: 60px;
    /* border: 2px solid orange; */
}

.cnopca {
    
    text-align: center;
    margin: 0 auto;

} 

.cnopca button  {
    
    color: white;
    background-color: #C95C3F;
   padding: 16px 80px;
   border : none;
}
