.container {
    width: 1514px;
    height: 728px;
    top: 4587px;
    left: 346px;
}

.company {
    width: 274px;
    height: 60px;
    top: 87px;
    width: 64px;
    height: 64px;
    top: 83px;
    left: 290px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
}

.lolo {
    width: 553px;
    height: 368px;
    top: 188px;

    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;   
}
