footer {
    background: black;
   color: #fff;
    height: 143px;
}

.container {
    width: 1240px;
    margin: 0 auto;
}
.h{
    padding-left: 200px;
    padding-top: 30px;
}
.ji{
    padding-top: 20px;
}
.op{
    margin-left: 90px;
    margin-top: -38px;
}
.uy{
    margin-left: 270px;
    margin-top: -38px;
}
.nn{
    margin-top: -79px;
    margin-left: 90px;
}
.kk{
    margin-top: -79px;
    margin-left: 180px;
}
.mm{
    margin-top: -79px;
    margin-left: 270px;
}
.hh{
    margin-left: 600px;
    margin-top: -36px;
}
.hw{
    margin-left: 80px;
}
.qw{
    margin-left: 1000px;
    margin-top: -100px;
}
.wer{
    margin-left: 1100px;
    margin-top: -25px;
}
